<body id="aboutBack">
  <div class="card">
    <h4>About</h4>
    <div class="row">
      <div class="col-sm-12">
        <div id="profPic">
          <img src="/images/profile.jpg" alt="Profile Picture">
        </div>
        <p>Junior developer with an eclectic background excited for the long road of learning that programming offers. I’ve owned my own company which showed me the importance of being self-motivated, crewing on boats made me resilient to changing conditions and challenging schedules, and as team-lead of four CNA’s I learned a lot about working with and managing diverse groups of people. All of these experiences have given me confidence, desire to learn, and a strong work ethic that I still foster to this day.</p>
        <p>When I'm not sitting at my desk coding; I might be sailing, rock-climbing, or making music. As a developer my strengths are in spotting patterns and finding solutions to problems. I first started coding in March 2017. In July I started the Ruby/Rails track at <a href="https://www.epicodus.com/" target="_blank">Epicodus</a> in Portland OR. There we built apps using a variety of languages and tools with a test-driven focus.</p>
        <p>I've also had the opportunity to work on several group projects which has taught me to work productively on a team and good practice using Git for organizing work flow. Thanks for visiting my site. Head over to the projects section to see some of my work or the contact page to get in touch.</p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <img class="profPics" src="/images/cat.jpg" alt="Profile Picture">
      </div>
      <div class="col-sm-4">
        <img class="profPics" src="/images/cliff.jpg" alt="Profile Picture">
      </div>
      <div class="col-sm-4">
        <img class="profPics" src="/images/shoes.jpg" alt="Profile Picture">
      </div>
    </div>
  </div>
</body>
