<body class="aboutBack2">
  <div class="card">
    <h5>About</h5>
    <div class="row">
      <div class="col-sm-12" id="aboutCol">
        <div id="profPic">
          <img class="profPics" src="/images/profile.jpg" alt="Profile Picture">
        </div>
        <p>When I'm not sitting at my desk coding; I might be sailing, rock-climbing, or making music. As a developer my strengths are in spotting patterns and finding solutions to problems. I first started coding in March 2017. In July I started the Ruby/Rails track at <a href="https://www.epicodus.com/" target="_blank">Epicodus</a> in Portland OR. There we've done projects using many languages and frameworks. This has strengthend my ability to learn and pickup new languages as well as many other concepts.</p>
        <p>I've also had the opportunity to work on several group projects which has taught me to work productively on a team. It was also good practice using Git and organizing work flow among several people.</p>
        <p>Scroll down to see some projects I've worked on, a few Instagram shots, and my contact information. Come back every now and then to see what's new in my Projects section. I'll be working hard to make sure it's worth your time.</p>

      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <img class="profPics" src="/images/cat.jpg" alt="Profile Picture">
      </div>
      <div class="col-sm-4">
        <img class="profPics" src="/images/cliff.jpg" alt="Profile Picture">
      </div>
      <div class="col-sm-4">
        <img class="profPics" src="/images/shoes.jpg" alt="Profile Picture">
      </div>
    </div>
  </div>
</body>
