<body id="projectsBack">
  <% if @projects.any? %>
    <div class="card">
      <% @projects.each do |p| %>
        <div class="row">
          <div class="col-sm-12">
            <div class="projectTitle">
              <h3><%= p.title %></h3>
            </div>
            <p><%= p.description %></p>
            <div class="projectImage">
              <%= image_tag(p.photo) %>
            </div>
          </div>
        </div>
        <hr>
      <% end %>
    </div>
  <% else %>
    <div class="card">
      <h4>No projects yet.</h4>
    </div>
  <% end %>
</body>
