@import "bootstrap";

// ___Color Codes___ //

$aColor: #b1a7ba;
$cardText: #cac9e0;
$cardBody: rgba(76, 86, 96, 0.7);
$headerColor: rgba(76, 86, 96, 0.95);

// ___Global Styles___ //

a {
  color: $aColor;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

.card {
  border-style: inset;
  color: $cardText;
  border-radius: 23px;
  padding: 23px;
  vertical-align: middle;
  margin-bottom: 90px;
  background-color: $cardBody;
}

img {
  filter: grayscale(50%);
}

// ___Header Styles___ //

@mixin dark-overlay{
  &:after{
    content: "";
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

header {
  z-index: 1;
  padding: 10px;
  background-color: $headerColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  @include dark-overlay;
}

header:after {
  background:rgba(0, 0, 0, 0.75);
  background: linear-gradient(to top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
}

header h3 {
  color: $cardText;
  float: right;
}

// ___Home Section___ //

#homeBack {
  background: url("/images/homeBack.jpg") no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px;
}

#splash {
  color: $cardText;
  text-align: center;
}

#splash i {
  font-size: 8rem;
  display: inline-flex;
  margin: 50px;
  margin-top: 0px;
  margin-bottom: 40px;
}

// ___About Section___ //

#aboutBack {
  background: url("/images/aboutBack.jpg") no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px;
}

.profPics {
  max-width: 100%;
  border-radius: 23px;
}

#profPic {
  width: 25%;
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

#profPic img {
  max-width: 100%;
  border-radius: 50%;
}

// ___Project's Section___ //

#projectsBack {
  background: url("/images/projectsBack.jpg") no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px;
}

.projectImage {
  width: 40%;
  float: left;
}

.projectImage img {
  width: 100%;
  border-radius: 23px;
}

// __Contact Section__ //

#contactBack {
  background: url("/images/contactBack.jpg") no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px;
}
