@import "bootstrap";

// ___Color Codes___ //

$dusty: #96858F;
$dustyLight: #ccb9c4;
$lav: #6D7993;
$overcast: #9099A2;
$paper: #D5D5D5;

$header: #A0B7C5;
$body: #DCE4E7;

// ___Global Styles___ //

header {
  z-index: 1;
  padding: 10px;
  background-color: rgba(76, 86, 96, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
}

header h3 {
  color: #7481af;
  float: right;
  margin-top: -5px;
}

header a {
  color: #b1a7ba;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $body;
}

.card {
  border-style: inset;
  color: #fff;
  border-radius: 23px;
  padding: 23px;
  vertical-align: middle;
  margin-top: 50px;
  margin-bottom: 90px;
  background-color: rgba(76, 86, 96, 0.7);
}

// ___Project's Section___ //

.projectImage img {
  width: 90%;
  border-radius: 23px;
}

.projectImage {
  text-align: center;
}

// ___About Section___ //

#splash {
  background: url("/images/splash.jpg") no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 60px;
}

.profPics {
  max-width: 100%;
  border-radius: 23px;
  filter: grayscale(30%);
}
